{% extends "base.html" %}


{% block scripts %}

<script src="{{ url_for("static", filename="member_count.js") }}" defer></script>

{% endblock %}


{% block content %}

<p style="margin-top: 0;">
    Active members: <span id="active-members">fetching..</span>
</p>
<p>
    Members: <span id="total-members">fetching..</span>
</p>
<a href="/gui/add_member/"><button>Add member</button></a>
<a href="/gui/manage_members/"><button>Manage members</button></a>
<a href="/gui/send_emails/"><button>Send emails</button></a>

{% endblock %}
