{% extends "base_auth.html" %}


{% block scripts %}

{{ super() }}
<script type="module" src="{{ url_for("static", filename="send_emails.js") }}" async></script>

{% endblock %}


{% block content %}

<h3 style="margin-top: 0;">Send emails</h2>

<form>
    <div class="row">
        <label for="subject-input">Subject</label>
        <input type="text" id="subject-input" list="subject-list">
        <datalist id="subject-list">
            <option value="{{ "LiTHe kod newsletter {}".format(today) }}">
            <option value="Welcome to LiTHe kod!">
            <option value="test">
        </datalist>
    </div>
    <div class="row">
        <label for="receivers-input">Receivers</label>
        <input type="text" id="receivers-input" list="receivers-list">
        <datalist id="receivers-list">
            <option value="default">
            <option value="all">
            <option value="inactive">
        </datalist>
    </div>
    <div class="row">
        <label for="template-input">Template</label>
        <select name="template-input" id="template-input">
            <optgroup label="Recent">
                {% for template in templates %}
                    <option value="{{ template }}">{{ template }}</option>
                {% endfor %}
            </optgroup>
        </select>
    </div>
</form>

<div style="text-align: right;">
    <button onclick="submit()">Send</button>
</div>

<p id="email-info-text" style="display: none;"></p>
<p id="info-text" class="no-bottom-margin" style="display: none;"></p>

{% endblock %}
