:root {
    --primary-color: #eee;
    --background-color: #202020;
    --footer-bg-color: #303030;
    --link-color: #1ec6ba;
    --logo-height: 4em;
    --scale: 1.5em;
}

body {
    color: var(--primary-color);
    background-color: var(--background-color);

    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: var(--scale);

    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    background-color: var(--footer-bg-color);
    border-radius: 8px;

    max-width: 40em;
    padding: 1em;
}

#logobox {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 1em 0;
}

#logo {
    height: var(--logo-height);
}

#logotext {
    font-size: calc(var(--logo-height) * 2 / 3);
    margin: 0 auto;
}

#content input, #content button {
    font-size: 1em;

    padding: 0.5em;

    color: var(--primary-color);
    background-color: var(--footer-bg-color);

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    border-color: var(--primary-color);
}

#content button:hover {
    color: var(--link-color);
    border-color: var(--link-color);
}

#content #info-text {
    max-width: fit-content;
}

.no-bottom-margin {
    margin-bottom: 0;
}

/*
 * Forms
 */

form {
    display: table;
    margin-bottom: 1em;
}

.row {
    display: table-row;
    margin-bottom: 0.5em;
}

.row * {
    display: table-cell;
    margin: 0.25em;
}

.row label {
    padding-right: 0.5em;
}

/*
 * Tables
 */

td:nth-child(2) {
    padding-left: 1em;
}
