<!doctype HTML>
<html>
    <head>
        <style>
            body {
                {%- if "lightmode" in request.args -%}
                background: #fff;
                color: #111;
                {%- else -%}
                background: #202020;
                color: #eee;
                {%- endif -%}
                font-family: "PT Sans", Helvetica, Arial, sans-serif;
                text-align: center;
            }

            #standings {
                max-width: 20em;
                margin-left: auto;
                margin-right: auto;
            }

            #standings h2 {
                font-size: 2.2em;
                text-align: center;
                margin-bottom: -0.25em;
            }

            #standings span.stars {
                float: right;
                text-shadow: 1px 1px 5px gold;
            }

            #standings span.placement {
                float: left;
            }

            #standings .contestant {
                display: inline-block;
                width: 100%;
                text-align: center;
            }

            #standings ul {
                padding-left: 0;
            }

            #standings ul li:nth-child(1) {
                font-size: 1.5em;
                text-shadow: 1px 1px 10px gold;
            }

            #standings ul li:nth-child(2) {
                font-size: 1.25em;
                text-shadow: 1px 1px 10px silver;
            }

            #standings ul li:nth-child(3) {
                font-size: 1.1em;
                text-shadow: 1px 1px 10px brown;
            }

            #standings ul li:nth-child(15) {
                padding-bottom: 1em;
            }
        </style>
    </head>
    <body>
        <div class="left-column">
            <div id='standings'>
                {% if "some" in request.args %}
                    <h2>Standings (competition)</h2>
                {% else %}
                    <h2>Standings (everyone)</h2>
                {% endif %}
                <ul>
                    {%- for c in contestants -%}
                    <li class='contestant'>
                        <span class='placement'>{{c[0]}}.</span>
                        <span class='name'>{{c[2]}}</span>
                        <span class='stars'>{{c[1]}}</span>
                    </li>
                    {%- endfor -%}
                </ul>
            </div>
        </div>
    </body>
</html>
